CLIENT_URL='<YOUR-CLIENT-URL>'
SERVER_URL='<YOUR-SERVER-URL>'
JWT_SECRET='<YOUR-JWT-SECRET>'
ENVIRONMENT='<YOUR-ENVIRONMENT>'
SERVER_PORT='<YOUR-SERVER-PORT>'
CLIENT_PORT='<YOUR-CLIENT-PORT>'
DATABASE_URL="<YOUR-DATABASE-URL>"
JWT_ALGORITHM='<YOUR-JWT-ALGORITHM>'
RESEND_API_KEY='<YOUR-RESEND-API-KEY>'
ACCESS_TOKEN_EXPIRY='<YOUR-ACCESS-TOKEN-EXPIRY>'
REFRESH_TOKEN_SECRET='<YOUR-REFRESH-TOKEN-SECRET>'
VERIFICATION_EMAIL_FROM='<YOUR-VERIFICATION-EMAIL-FROM>'
EMAIL_JWT_EXPIRATION_TIME='<YOUR-EMAIL-JWT-EXPIRATION-TIME>'
REFRESH_TOKEN_LIFETIME_DAYS='<YOUR-REFRESH-TOKEN-LIFETIME-DAYS>'